argh==0.29.4
datasets==2.13.1
evaluate==0.4.0
numpy==1.25.2
pandas==2.0.3
peft==0.5.0
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.1
tqdm==4.65.0
transformers==4.34.1
jupyterlab
trl